div {
  font-weight: "bold";
  font-size: 20px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
}